{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-postcss",
            ["@babel/plugin-proposal-decorators", { "legacy": true }]
          ]
        }
      }
    ]
  ]
}
