.textCard{
  background: #15eded;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #15EDED, #029CF5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #15EDED, #029CF5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white !important;

}

.textCardImg{
  background: #15eded;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #15EDED, #029CF5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #15EDED, #029CF5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white !important;
  height: 14rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}
  



.icon{
  width: 1.5em;
  height: 1.5em;

}
