@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


@layer components{
  .sidebar-icon{
    @apply relative flex items-center justify-center
    h-12 w-12 mt-2 mb-2 mx-auto p-3
    bg-gray-200 text-gray-800
    hover:bg-secondary hover:text-white
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer
    dark:bg-gray-800 dark:text-white
    ;
  }

  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max
    left-14 rounded-md shadow-md 
    text-white bg-secondary
    text-xs font-bold scale-0
    transition-all duration-100 origin-left
    dark:bg-gray-900 dark:text-white
    z-50
  }

  .toggler-ball{
    @apply 
  }

}





.twitter-card-header-img{
  width: 100%;
  height: 14rem;
  object-fit: contain;
  border-radius: .6em;
  background-color: lightgrey;
  border: 1px solid gray;
}

.comments{
  grid-template-columns: repeat(1,minmax(0,1fr));
  display: grid;
  row-gap: 4rem;
}
@media all and ( min-width: 768px) {
  .comments{
     gap: 2rem;
     grid-template-columns: repeat(2,minmax(0,1fr));
  }
 }

@media all and ( min-width: 1024px) {
 .comments{
    gap: 3.5rem;
    grid-template-columns: repeat(3,minmax(0,1fr));
 }
}



