.img{
  background-color: red;
  max-width: 75ch;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background: #15eded;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #15EDED, #029CF5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #15EDED, #029CF5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.icon{
  height: 2rem;
  width: 2rem;
  outline: 1px solid red;
}